<p style="color: green"><%= notice %></p>
<div style="margin:30px; width:20rem">
<h1> Bienvenido </h1>

<div>
<%= current_user.email %>
</div>

<div>
<%= current_user.first_name %>
</div>

<div>
<%= current_user.last_name %>
</div>

<hr>

<div>
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Editar Cuenta", edit_user_path(@user) %></button> 
</div>
</div>