<%= form_with(model: address) do |form| %>
  <% if address.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <ul>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <p></p>
      <li> 
        <%= form.label :commune, "Comuna:" %>
        <%= form.select :commune, [['Cerrillos','Cerrillos'],['Cerro Navia','Cerro Navia'],['Conchalí','Conchalí'],['El Bosque','El Bosque'],['Estación Central','Estación Central'],
        ['Huechuraba','Huechuraba'],['Independencia','Independencia'],['La Cisterna','La Cisterna'],['La Florida','La Florida'],['La Granja','La Granja'],['La Pintana','La Pintana'],
        ['La Reina','La Reina'],['Las Condes','Las Condes'],['Lo Barnechea','Lo Barnechea'],['Lo Espejo','Lo Espejo'],['Lo Prado','Lo Prado'],['Macul','Macul'],['Maipú','Maipú'],
        ['Ñuñoa','Ñuñoa'],['Pedro Aguirre Cerda','Pedro Aguirre Cerda'],['Peñalolén','Peñalolén'],['Providencia','Providencia'],['Pudahuel','Pudahuel'],['Quilicura','Quilicura'],
        ['Quinta Normal','Quinta Normal'],['Recoleta','Recoleta'],['Renca','Renca'],['San Joaquín','San Joaquín'],['San Miguel','San Miguel'],['San Ramón','San Ramón'],['Santiago','Santiago'],['Vitacura','Vitacura']] %>
      </li>
      <p></p>
      <li> 
        <%= form.label :street, "Calle:" %>
        <%= form.text_field :street %>
      </li>
      <p></p>
      <li> 
        <%= form.label :number_address, "Número:" %>
        <%= form.text_field :number_address %>
      </li>
      <p></p>
      <li> 
        <%= form.label :extra_information, "Información extra:" %>
        <%= form.text_field :extra_information %>
      </li>
    </ul>
  </div>

  <div>
    <%= form.submit "Crear Dirección" %>
  </div>
<% end %>
