<p style="color: green"><%= notice %></p>
<div style="margin:30px">
<h1>Direcciones</h1>

<div id="addresses">
<table class="table table-dark table-striped" id="order-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">comuna</th>
      <th scope="col">calle</th>
      <th scope="col">numero</th>
      <th scope="col">cliente</th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td> <%= address.id %> </td>
      <td> <%= address.commune %> </dt>
      <td> <%= address.street %> </dt>
      <td> <%= address.number_address %> </dt>
      <td> <%= User.find(address.user_id).first_name %> </dt>
    </tr>
    <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Nueva Dirección", new_address_path  %> </button>
</div>