<p style="color: green"><%= notice %></p>

<%= render @user %>
<%= render @address %>

<div>
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Editar Dirección", edit_address_path(@address) %></button> |
  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Regresar", addresses_path %></button>

  <button type="button" class="btn btn-outline-info btn-m " style="margin-left:20px" ><%= link_to "Eliminar Dirección", @address, method: :delete %></button>
</div>
