<br>
<div class="card">
  <div class="card-header"> 
    <h4>Log in</h4>
  </div>
  <div class="card-body"> 
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Email: </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Password: </span>
      <%= f.password_field :password, autocomplete: "password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-secondary" %>
    </div>
  <% end %>
  </div> 
</div>

<%= render "devise/shared/links" %>
