
<p style="color: green"><%= notice %></p>

<button type="button" class="btn btn-outline-info btn-m " ><%= link_to "Crear Nueva Entrega", new_user_order_path(current_user.id) %> </button>


<div id="orders">
  <h1>Orders</h1>

  <table class="table table-dark table-striped" id="order-table">
  <thead>
    <tr>
      <th> Order </th>
      <th>Compradores</th>
      <th>Proveedores</th>
      <th>Despachadores</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% if order.buyer_id == current_user.id || order.provider_id == current_user.id %>
        <tr>
          <td><%= order.delivery_key %></td>
          <td><%= User.find(order.buyer_id).email%></td>
          <td><%= User.find(order.provider_id).email%></td>
          <td><%= User.find(order.dispatcher_id).email%></td>
          <td><%= link_to "Check", order_path(order)%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
  </table>

</div>

