<div style="margin-left:30px">
<h1>New order</h1>

<%= render "form", order: @order %>
<%= form_with(model: @order) do |form| %>
  <% if @order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% @order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card-body">
    <%if current_user.user_type=="Comprador"%>
      <div class="col">
        <div class="col" style="width:400px">
          <h5><strong>Lista de Proveedores </strong></h5>
          <%for comprador in User.where(user_type:"Proveedor")%>
          <div style="margin-left:10px"><h6><%=comprador.id%>- <%=comprador.first_name%> <%=comprador.last_name%></h6></div>
          <%end%>
          <p></p>
        <div><%= form.text_field :buyer_id, class: "form-control", placeholder:"Ingrese ID Comprador" %></div>
        </div>
        <h5><strong>Proveedor: </strong><%=User.where(user_type:"Proveedor").first.email%></h5>
        <h5><strong>Comprador: </strong><%=current_user.email%></h5>
        <%= form.hidden_field :buyer_id, value: current_user.id %>
        <%= form.hidden_field :provider_id, value: current_user.id %>  
      </div>
    <%end%>
    <%if current_user.user_type=="Proveedor"%>
      <div class="col">
        <h5><strong>Proveedor: </strong><%=current_user.email%></h5>
        <%= form.hidden_field :provider_id, value: current_user.id %>
        <%= form.hidden_field :buyer_id, value: current_user.id %>
        <div class="col" style="width:400px">
          <h5><strong>Lista de Compradores </strong></h5>
          <%for comprador in User.where(user_type:"Comprador")%>
          <div style="margin-left:10px"><h6><%=comprador.id%>- <%=comprador.first_name%> <%=comprador.last_name%></h6></div>
          <%end%>
          <p></p>
        <div><%= form.text_field :buyer_id, class: "form-control", placeholder:"Ingrese ID Comprador" %></div>
        </div>
      </div>
    <%end%>

    <%= form.hidden_field :dispatcher_id, value: 3 %>
    <div class="col">
      <h5><strong>Fecha de pedido: </strong><%=DateTime.now()%></h5>
      <%= form.hidden_field :order_delivery_date, value: DateTime.now() %>
    </div>
    <div class="col">
        <h5><strong>Clave de entrega: </strong></h5>
        <div><%= form.text_field :delivery_key, class: "form-control" %></div>
    </div>

     <div class="input-group py-2">
      <h5><strong> Estado de la orden </strong><%="En proceso"%></h5>
      <%= form.hidden_field :status_order, value: "En proceso" %>
      <!--<%= form.select :status_order, ['En proceso', 'Aceptado', 'Pagado','Enviado','Entregado'] %>-->
    </div>

</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to orders", user_orders_path(current_user.id) %>
</div>
</div>