<br>
<div class="card">
<div class="card-header">
  <h4>Sign up</h4>
</div>
<div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Email: </span>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    
    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Teléfono: </span>
      <%= f.text_field :phone_number, autofocus: true %>
    </div>
    
    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> RUT: </span>
      <%= f.text_field :RUT, autofocus: true %>
    </div>

    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Tipo: </span>
      <%= f.select :user_type, ['Comprador', 'Proveedor', 'Despachador'] %>
    </div>

    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Nueva Contraseña: </span>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    
    <div class="input-group py-2">
      <span class="input-group-text" id="addon-wrapping"> Confirmar Contraseña: </span>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-secondary"  %>
    </div>
  <% end %>
</div>
</div>

<%= render "devise/shared/links" %>
